.navigation {
	font-size: 25px;
}

.navigation a {
	text-decoration: none;
	font-family: '宋体';
	color: #1E90FF;
}

.navigation a:hover {
	text-decoration: none;
	color: #A95656;
	font-weight:bold;
}

.space {
	height: 10%;
}

.content {
	position: relative;
	height: 60%;
	width: 60%;
}

.content a {
	font-size: 19px;
	font-family: '宋体';
	text-decoration: none;
	color: #696969;
}

.content a:hover {
	text-decoration: none;
	font-size: 20px;
	color: #6495ED;
}

.content li {
	list-style-type:none;
}

.one {
	text-align: center;
	height: 49%;
	width: 49%;
	float: left;
	border: solid 1px black;
	border-radius: 10px;
}

h3 {
	text-align: center;
}

.left {
	text-align: left;
	width: 69%;
	height: 90%;
	float: left;
	border-right: solid 2px #A9A9A9;
	
}

.content {
	text-align: left;
	text-indent: 2em;
	width: 100%;	
}

.right {
	text-align: left;
	width: 30%;
	height: 90%;
	float: left;
	border: solid 0px red;
}
