h3 {
    font-size: 60px;
    font-family: '宋体';
}

.content{
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    overflow-y:auto;
}

.content a {
    line-height: 30px;
    text-decoration:none;
    font-family: '宋体';
    color: #808080;
}

.content a:hover {
    color: #C0C0C0;
}

